<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="states">
      <h2 data-cy="statesDetailsHeading"><span jhiTranslate="neuApp.states.detail.title">States</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ states.id }}</span>
        </dd>
        <dt><span jhiTranslate="neuApp.states.name">Name</span></dt>
        <dd>
          <span>{{ states.name }}</span>
        </dd>
        <dt><span jhiTranslate="neuApp.states.idCountry">Id Country</span></dt>
        <dd>
          <div *ngIf="states.idCountry">
            <a [routerLink]="['/country', states.idCountry?.id, 'view']">{{ states.idCountry?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/states', states.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
