<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cities">
      <h2 data-cy="citiesDetailsHeading"><span jhiTranslate="neuApp.cities.detail.title">Cities</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cities.id }}</span>
        </dd>
        <dt><span jhiTranslate="neuApp.cities.name">Name</span></dt>
        <dd>
          <span>{{ cities.name }}</span>
        </dd>
        <dt><span jhiTranslate="neuApp.cities.population">Population</span></dt>
        <dd>
          <span>{{ cities.population }}</span>
        </dd>
        <dt><span jhiTranslate="neuApp.cities.idState">Id State</span></dt>
        <dd>
          <div *ngIf="cities.idState">
            <a [routerLink]="['/states', cities.idState?.id, 'view']">{{ cities.idState?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cities', cities.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
