<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cities-heading" data-cy="CitiesCreateUpdateHeading" jhiTranslate="neuApp.cities.home.createOrEditLabel">
        Create or edit a Cities
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="neuApp.cities.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="neuApp.cities.population" for="field_population">Population</label>
          <input
            type="text"
            class="form-control"
            name="population"
            id="field_population"
            data-cy="population"
            formControlName="population"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="neuApp.cities.idState" for="field_idState">Id State</label>
          <select class="form-control" id="field_idState" data-cy="idState" name="idState" formControlName="idState">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="statesOption.id === editForm.get('idState')!.value?.id ? editForm.get('idState')!.value : statesOption"
              *ngFor="let statesOption of statesSharedCollection; trackBy: trackStatesById"
            >
              {{ statesOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
