<input class="form-control form-control-lg" type="text" [(ngModel)]="searchValues" placeholder="Buscar" mdbInput />

<button type="button" class="btn btn-info btn-lg" (click)="getCountries()">buscar</button>

<table>
  <thead>
    <tr>
      <th>Nombre estado</th>
      <th>pais</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let countrie of countries">
      <td>{{ countrie.name }}</td>
      <td>{{ countrie.idCountry.name }}</td>
    </tr>
  </tbody>
</table>
